{% extends 'base.html' %}
{% load static %}

{% block body %}

<h2>Seu pedido foi aprovado</h2>

<a href="{% url 'loja' %}">Voltar a loja</a>

<h3>Acabamos de enviar um e-mail com todos os detalhes do seu pedido.</h3>

<div style="display: flex;">
    <p>Data: {{ pedido.data_finalizacao }}</p>
    <p>Número do Pedido: {{ pedido.id }}</p>
    <p>Código Transação: {{ pedido.codigo_transacao }}</p>
    <p>Valor Total: R$ {{ pedido.preco_total }}</p>
    <p>Endereço de Entrega: {{ pedido.endereco.cep }}, {{ pedido.endereco.cidade }}-{{ pedido.endereco.estado }}</p>
    
    {% for item in pedido.itens %}

        <img src="{{ item.item_estoque.produto.imagem.url }}" width="50" height="50">
        <p>Produto: {{ item.item_estoque.produto.nome }}</p>
        <p>Quantidade: {{ item.quantidade }}</p>
        <p>Preço: {{ item.preco_total }}</p>

    {% endfor %}
</div>   
<hr>




{% endblock %}