{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- Breadcrumb centralizado fora do cartão -->
<div class="empresa__breadcrumb-box">
  <div class="s-produto__breadcrumbs">
    <strong>Você está em:</strong> <span><a href="{% url 'homepage' %}">Home</a></span>
    <span><p>Segurança</p></span>
  </div>
</div>

<!-- Container com fundo cinza -->
<div class="empresa__container">
  <div class="empresa__conteudo">
    <h1>Segurança</h1>
    <p>
      Com relação aos seus dados pessoais de endereçamento, pagamento e conteúdo do pedido, você pode estar certo de que não serão utilizados para outros fins que não o de processamento dos pedidos realizados, não sendo portanto divulgados em hipótese alguma.
    </p>
    <p>
      Com relação à segurança no tráfego de dados, toda transação que envolver pagamento, seja por cartão de crédito ou não, estará encriptada com a tecnologia SSL (Secure Socket Layer). Isso significa que só nossa empresa terá acesso a estes dados.
    </p>
  </div>
</div>

{% endblock %}
